/*//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 46.7%); // #777
@gray-lighter:           lighten(@gray-base, 93.5%); // #eee

@brand-primary:         darken(#428bca, 6.5%); // #337ab7
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;


//## Settings for some of the most global styles.

//** Background color for `<body>`.
@body-bg:               #fff;
//** Global text color on `<body>`.
@text-color:            @gray-dark;

//** Global textual link color.
@link-color:            @brand-primary;
//** Link hover color set via `darken()` function.
@link-hover-color:      darken(@link-color, 15%);
//** Link hover decoration.
@link-hover-decoration: underline;*/
@media (max-width: 767px) {
  .navigation-menu .navbar-default .navbar-collapse {
    border-top: 1px solid #a8cf45;
  }
  .navigation-menu .navbar-default .navbar-nav li {
    padding: 0;
  }
  .navigation-menu .navbar-default .navbar-nav li a {
    padding: 10px 20px;
  }
  .navigation-menu .navbar-default .navbar-nav li a:hover,
  .navigation-menu .navbar-default .navbar-nav li a:focus {
    color: #ed3237;
    background: #f58533;
  }
  .navigation-menu .navbar-default .navbar-nav li a::after {
    content: "";
  }
  .navigation-menu .navbar-default .navbar-nav li.active > a,
  .navigation-menu .navbar-default .navbar-nav li.active > a:hover,
  .navigation-menu .navbar-default .navbar-nav li.active > a:focus {
    color: #ed3237;
    background: #f58533;
  }
  .navigation-menu .navbar-default .navbar-nav li:first-child a {
    padding-left: 10px;
  }
  .solution-content .solution-group {
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
  }
  .solution-content .solution-group .item {
    height: 139px;
    text-align: center !important;
  }
  .solution-content .solution-group .item.item1 {
    text-align: right;
    padding: 55px 30px 55px 0 !important;
    background: #85b24b;
  }
  .solution-content .solution-group .item.item2 {
    text-align: center;
    padding: 55px 0px;
    background: #74ab2b;
  }
  .solution-content .solution-group .item.item3 {
    text-align: left;
    padding: 55px 0px 55px 30px !important;
    background: #5f9f0a;
  }
}
@media (max-width: 991px) {
  .newsletter .left-padding {
    padding-left: 10px !important;
  }
  .newsletter .hotline {
    border: 0;
    margin: 0;
    padding: 0;
  }
}
